<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adicionar Disco</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Adicionar Disco</h1>
  <form action="/albums/add" method="POST">
    <label for="title">Título do Disco:</label>
    <input type="text" id="title" name="title" placeholder="Título do Disco" required>

    <label for="release_year">Ano de Lançamento:</label>
    <input type="number" id="release_year" name="release_year" placeholder="Ano de Lançamento" required>

    <label for="artist">Artista:</label>
    <input type="text" id="artist" name="artist" placeholder="Artista">

    <label for="tracks">Faixas (separadas por vírgulas):</label>
    <input type="text" id="tracks" name="tracks" placeholder="Faixas (separadas por vírgulas)" required>

    <label for="cover_url">URL da Capa:</label>
    <input type="text" id="cover_url" name="cover_url" placeholder="URL da capa">

    <label for="genre">Gênero:</label>
    <input type="text" id="genre" name="genre" placeholder="Gênero">

    <button type="submit">Adicionar Disco</button>
  </form>

  <div class="button-container">
    <a href="/" class="btn-back">Voltar para Home</a>
  </div>
  
</body>
</html>
